@import "../../colors.scss";

header {
	display: flex;
	align-items: center;
	justify-content: space-between;

	height: 80px;
	padding: 0 2rem;
	background: #393E46;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;

	color: #F2E7D5;
}

header a {
	margin: 0 1rem;
	color: var(--textColor);
	text-decoration: none;
}

header a:hover {
	color: var(--secondaryColor);
}

.logo {
    margin: 0;
}

header .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: var(--textColor);
	display: none;
	opacity: 0;
	font-size: 1.8rem;
}

header div,
nav {
	display: flex;
	align-items: center;
}

@media only screen and (max-width: 1024px) {
	header .nav-btn {
		display: block;
		opacity: 1;
	}

	header nav {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background: #393E46;
		transition: 1s;
		transform: translateY(-100vh);
		z-index: 2;
	}

	header .responsive_nav {
		transform: none;
	}

	nav .nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
	}

	nav a {
		font-size: 1.5rem;
	}
}

.logIn {
    margin-right: 0px;
    margin-left: 0px;
	padding: 10px 15px;
	background: #6D9886;
	border-radius: 9px;
}

.logout {
	background: var(--secondaryColor);
	border: none;
	padding: 10px 15px;
	border-radius: 10px;
	font-weight: 700;
	color: var(--textColor);
}

.logout:hover {
	cursor: pointer;
}

.react-icons {
    vertical-align:middle;
    margin-left: 10px;
    padding-bottom: 3px;
}

h3.Logo {
    margin: 0 !important;
    block-size: fit-content !important;
	font-size:xx-large;
}


form.nosubmit {
	border: none;
	padding: 0;
  }
  
input.nosubmit {
	width: 260px;
	border: 1px solid #555;
	display: block;
	padding: 9px 4px 9px 40px;
	border-radius: 15px;
	background: #F2E7D5 url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}